html, body{
    height: 100%;
}

.calculator{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;

    justify-items: center;

    grid-gap: 20px;


    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgb(100,100,100,.5);

    height: 40%;
    width: 300px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: lightseagreen;
}

.totalBox {
    height: 100%;
    width: 100%;
}
.totalBox input{
    outline: none;
    border: none;

    border-radius: 5px;
    width: 100%;
    height: 50px;
}

.mathematicsButtons{
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    width: 100%;
    height: 100%;

    justify-items: center;
    grid-gap: 5px;

    margin-bottom: 20px;
}

.mathematicsButtons button{
    height: 100%;
    width: 80%;

    border-radius: 5px;

    border: none;
    outline: none;
    cursor: pointer;

    background-color: #116466;
    color: white;
    font-size: 24px;
    text-align: center;
}

#plus{
    background-color: #EEE2DC;
    color: black;
}

#minus{
    background-color: #EEE2DC;
    color: black;
}

#divide{
    background-color: #EEE2DC;
    color: black;
}

#multiply{
    background-color: #EEE2DC;
    color: black;
}

#equal{
    grid-column: 4/5;
    grid-row: 2/-1;
    background-color: #FFCB9A;
    border: none;
    outline: none;
}